.all-menu-container{
  padding: 0.5rem 1rem;
}

.menu-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1.2rem;
  padding: 0.5rem;
  height: 15rem;
}

.anime-type-contaner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  grid-gap: 1.2rem;
  padding: 0.5rem;
  height: 23rem;
}

.menu-item {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius:0.3rem;
  display: grid;
  align-self: center;
  align-items: center;
  justify-self: center;
  justify-items: center;
  overflow: hidden;
}

.menu-image-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.3rem;
  box-shadow: #33333340 0 0 0.2rem;
  transition: transform 10s ease;
}

.menu-image-holder:hover {
  transform: scale(1.25);
}

.menu-content-background {
  background-color: rgba(226, 226, 226, 0.788);
  width: 150px;
  height: 120px;
  align-self: center;
  justify-self: center;
  display: grid;
  border-radius: 0.3rem;
  box-shadow: black 0 0 0.6rem;
  z-index: 2;
}

.menu-item-content {
  align-self: center;
  justify-self: center;
}

.menu-item-header {
  color: black;
  font-size: larger;
  font-weight: 700;
  margin: auto;
  display: grid;
  text-align: center;
  margin: 0.5rem;
}

.menu-item-cta {
  font-weight: 500;
  color: black;
  font-size: 1rem;
  text-align: center;
  margin: 0.5rem;
}
