:root {
  --footer-height: 70px;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr;
  height: var(--footer-height);
  width: 100%;
  background: #333;
  color: cornsilk;
  position: relative; 
  bottom: 0;
}

.text {
  align-self: center;
  justify-self: center;
}

.text p {
  color: cornsilk;
}