h1 {
  color: green;
  font-size: 52px
}

.root-container {
  width: 100%;
  min-height: var(--min-height-content-body);
  display: grid;
  justify-content: center;
  align-content: center;
}

.form-container {
  width: 35vw;
  height: auto;
  align-self: center;
  justify-self: center;
  background: rgb(105, 196, 196);
  padding: 0.5rem;
}

.form-container h2 {
  font-family: var(--lato);
  font-size: 2.25rem;
  color: #222;
  text-align: center;
  font-weight: bold;
  padding: 0.8rem;
}

.form-container p {
  font-family: var(--open-sans);
  font-size: 1.75rem;
  color: #222;
  text-align: left;
  font-weight: 500;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}

.field-container {
  padding: 1.5rem 1rem;
}

.label {
  transform: translateY(1.9rem);
  margin-left: 0.5rem;
  font-size: 1.1rem;
  color: #222222c0;
  transition: transform 0.5s ease, margin-left 0.5 ease, font-size 0.5s ease, color 0.5s ease;
}

.label-focus {
  transform: translateY(-1.9rem);
  margin-left: 0rem;
  font-size: 0.9rem;
  color: #222222;
}

.field-container input {
  display: block;
  text-decoration: none;
  border-style: none;
  border-bottom: 2px solid #222;
  border-radius: 0.18rem;
  background: #ffffff00;
  width: 100%;
  padding: 0.7rem;
  font-size: 1rem;
  font-family: var(--open-sans);
}

.submit-container {
  margin-top: 2.0rem;
  padding: 0.5rem 1rem;
}

.submit-container input {
  border-style: none;
  width: 50%;
  height: 3.5rem;
  color: white;
  background: #222;
  font-size: 1.3rem;
  font-weight: 500;
  border-radius: 0.2rem;
}

.submit-container input:hover {
  border: 0.15rem solid #222;
  border-radius: 0.2rem;
  color: #222;
  background: white;
  font-size: 1.3rem;
  font-weight: 500;
}