@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oleo+Script+Swash+Caps:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
:root {
    --oleo: 'Oleo Script Swash Caps', cursive;
    --open-sans: 'Open Sans', sans-serif;
    --lato: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--open-sans);
    font-weight: 400;
    color: rgb(24, 24, 24);
}

html {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--open-sans);
    color: rgb(24, 24, 24);
}

input, select, textarea {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline:none;
}